@font-face {
    font-family: 'Gilroy';
    src: url("../../assets/fonts/Gilroy-Medium.woff2"),
    url("../../assets/fonts/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../assets/fonts/Gilroy-Bold.woff2"),
    url("../../assets/fonts/Gilroy-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #070707;

    margin: 0;
    padding: 0;
}
body.active {
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* container */
.container {
    width: 100%;
    max-width: 1001px;
    margin: 0 auto;
    padding: 0 29px;
}

.title {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;

    text-align: center;
}

/* header */
.header {
    padding-top: 32px;
    margin-bottom: 40px;

    top: -100px;
}

.header__fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: #FFFFFF;
    transition: all 500ms ease;
    transform: translateY(100px);
}

.nav {
    border-bottom: 1px solid #828282;
    padding-bottom: 31px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    line-height: 1.2;
    font-weight: 700;
    color: #828282;
}

.nav__link:hover {
    color: #070707;
}
.menu.active .burger:nth-child(1) {
    transform: translateY(10px)
    rotate(45deg);
    background-color: #828282;
}

.menu.active .burger:nth-child(2) {
    opacity: 0;
}
.menu.active .burger:nth-child(3) {
    transform: translateY(-5px)
    rotate(-45deg);
    background-color: #828282;
}
@media (max-width: 500px) {
    .header {
        padding-top: 0;
        height: 80px;
        margin-bottom: 0;

    }
    .nav {

        display: none;

        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        border: none;

        width: 100%;
        height: 100vh;

        background-color: #FFFFFF;
        padding: 0;
    }
    .nav.active {
        display: block;
    }
    .nav__list {
        display: block;
        padding-top: 66px;
        padding-left: 26px;
    }

    .nav__item {
        margin-bottom: 68px;
    }
    .nav__link {
        font-size: 34px;
    }

}

/* menu */
.menu {

    display: none;

    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
}
.burger,
.burger::before,
.burger::after {
    display: block;

    font-size: 0;
    color: inherit;

    width: 33px;
    height: 3.8px;

    background-color: #000000;
    margin-bottom: 3.8px;
    transition: .5s linear;

}
@media (max-width: 500px) {
    .menu {
        display: block;
    }
}
/* intro */
.intro {
    margin-bottom: 104px;
}

.intro__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.intro__title {
    font-size: 47px;
    font-weight: 700;
    line-height: 1.2;
}

.intro__data {
    font-size: 18px;
    line-height: 1.16;
}

.intro__language {
    font-size: 16px;
    line-height: 1.18px;
    font-weight: 700;

    transform: rotate(270deg);
}

.intro__color {
    color: #828282;
}

.intro__img {
    max-width: 100%;
    display: block;
    height: auto;

}

.intro__img-2 {
    display: none;
}
@media (max-width: 500px) {
    .intro__info {
        display: block;
    }
    .intro__title {
        margin-bottom: 23px;
    }
    .intro__language {
        display: none;
    }
    .intro__language.active {

        display: block;
        font-size: 34px;

        position: fixed;
        right: 0;
        bottom: 125px;
        z-index: 2;

        transform: rotate(90deg);
    }
    .intro__img-2 {
        display: block;
        margin: 0 auto;
    }
    .intro__img-1 {
        display: none;
    }
}
/* about */

.about {

    background-color: #F6F6F6;
    min-height: 506px;

    margin-bottom: 91px;
}

.about__content {
    text-align: center;

    padding: 120px 0 120px;
}

.about__text {
    line-height: 1.6;

    margin-top: 17px;
}

.gap {
    display: block;
    margin-bottom: 30px;
}
@media (max-width: 500px) {
    .about__text br {
        display: none;
    }
}
/* skills */
.skills {
    margin-bottom: 110px;
}

.skills__inner {
    text-align: center;
}

.subtitle {
    line-height: 1.6;
    font-weight: 500;

    margin-top: 70px;
}

.skills__content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    margin-top: 83px;
}

.skills__item {
    align-items: center;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 30px;
}
.star__item {
    align-items: center;
    margin: 0 auto;
}

.skills__photo {
    margin-bottom: 24px;
}

.skills__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;

    color: #828282;

    margin-bottom: 40px;
}

.star {
    display: flex;
    justify-content: center;
}

.star__item {
    margin-right: 9px;
}

.star__item:last-child {
    margin-right: 0;
}
@media (max-width: 750px) {
    .skills__content {
        flex-wrap: wrap;
    }
    .skills__item {
        /* margin-right: 8px;
        margin-left: 8px; */
        padding: 0 10px;

    }
}

@media (max-width: 500px) {
    .subtitle {
        margin-top: 50px;
    }
}
/* portfolio */
.portfolio {
    background-color: #F6F6F6;

    padding: 112px 0 100px;
    margin-bottom: 114px;

}

.portfolio__photo {
    display: block;
    cursor: pointer;

    margin-top: 100px;

}
.portfolio__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.portfolio__subtitle {
    width: 100%;
    text-align: center;

    margin-top: 44px;
}
.portfolio__link {
    width: 100%;
    display: block;
    font-weight: 500;
    justify-content: center;

    line-height: 1.6;

    cursor: pointer;
    text-decoration: underline;

}

.portfolio__link:hover {
    text-decoration: none;
}
/* contacts */
.contacts {
margin-bottom: 85px;
}

.contacts__inner {
    text-align: center;
}
.contacts__text {
    margin: 30px 0 30px;
}
.contacts__link {
    display: inline-block;
    line-height: 1.2;
    color: #fff;

    background-color: #070707;
    border-radius: 25px;

    padding: 13px 30px;

}
/* footer */
.footer {
    padding-bottom: 123px;
}
.footer__social {
    display: flex;
    justify-content: center;

    margin-bottom: 45px;
}

.footer__item {
    margin-right: 60px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #828282;

    text-align: center;
}

@media (max-width: 375px) {
    .footer__item {
        margin-right: 32px;
    }
}
